  /*style_rules
email_line_color #656767
email_text_color #ae5278
email_link_color #656767
email_border_color #656767
home_photo_max_width 400 x 300
*/
* { margin: 0; padding: 0; }

/* Set background color and any image for entire site */
body { margin: 0px; font-family:  Palatino, arial, sans-serif; font-size: 14px; color: #e15c91; text-align: center; background-position: top; background: url('LaceyBackground.jpg'); background-repeat:repeat-y; background-position: top; background-color: #6f6f6f; }

p { color: #f5f5f5; }

/* Set links for template */
a { color: #656767; }

a:visited { color: #656767; }

a:hover { color: #656767; }

small { font-size: 9pt; margin-top: 1.5%; margin-bottom: 1.5%; }

/*=================================================================*/
/*Polaroid border and drop shadow style for photos*/
.c-photo img { padding: 0px 0px 0px 0px; border: 2px solid #ae5278; border-width: 0 0px 0px 0; }

/*=================================================================*/
/* Content Area images and color */
/* background image and background color */
/* background color is always behind image */
#t-container { position: relative; width: 973px; margin: 0 auto; text-align: left;  }

/*=================================================================*/
/*t-center is the larger container that holds t-links and t-content*/
/*t-links holds the menu nav, and t-content holds page content*/
#t-center { position: relative; min-height: 600px; _height: 600px; }

/* customize menu links */
#t-links { 	padding: 7px; 
		font-size: 16px; 
		width: 155px; 
		display: block; 
		margin-right:10px;
 		-moz-border-radius:10px; 
		-webkit-border-radius:10px; 
		border-radius:10px; 
		box-shadow: 3px 3px 5px #333333 ;
		-moz-box-shadow: 3px 3px 5px #333333 ;
		-webkit-box-shadow: 3px 3px 5px #333333 ;
        float:left;
        background-color:gainsboro;
}

#t-links ul { margin: 0; list-style-type: none; color: #656767; }

#t-links li { margin-top: 0px; margin-bottom: 10px; }

#t-links a { color: #656767; font-size: 16px; text-decoration: none; font-weight: normal; }

#t-link a:visited { color: #656767; font-size: 16px; text-decoration: none; font-weight: bold; }

#t-link a:hover { color: #656767; font-size: 20px; text-decoration: none; font-weight: bold; }

/* Set middle image */
#t-content { margin: 0 60px 0 30px; padding-top: 0px; padding-bottom: 20px; }

/* the content text */
.c-form { font-family:  Palatino, arial, sans-serif; font-size: 14px; line-height: 22px; color: #f5f5f5; text-align: left; }

.c-text { font-family:  Palatino, arial, sans-serif; font-size: 14px; line-height: 20px; color: #f5f5f5; text-align: left; padding-left:152px; width:610px;}

.c-info { font-family:  Palatino, arial, sans-serif; font-size: 14px; color: #f5f5f5; text-align: left; line-height: 21px;padding-left:150px; }

.c-date { font-family:  Palatino, arial, sans-serif; font-size: 16px; color: #f5f5f5; text-align: left; font-weight: bold; line-height: 26px; }

#c-countdown-days { font-family:  Palatino, arial, sans-serif; font-size: 14px; color: #656767; text-align: left; font-weight: bold; line-height: 30px; }

#c-countdown-text { font-family:  Palatino, arial, sans-serif; font-size: 14px; color: #656767; text-align: left; font-weight: bold; line-height: 30px; }

.c-odd,
.c-even { margin: 30px 0; /* 30px top and bottom, no margin left and right */ }

.c-intro { color: #ae5278; }

/* Photo Gallery Styles Start */
/*space for gallery photo - should remain at 214 */
#c-galleries-container .c-photo { width: 214px; padding-bottom: 0px; }

/*spaces gallery description from it's title */
#c-galleries-container .c-text { padding-top: 0px; }

/*title link for gallery name */
#c-galleries-container .c-subtitle { left: 241px; padding-top: 0px; }

/*backgrounds for galleries odd */
#c-galleries-container .c-odd { background-color: transparent; padding: 15px 0px 0px 15px; margin-bottom: 15px; margin-top: 15px; }

/*backgrounds for galleries even */
#c-galleries-container .c-even { background-color: transparent; padding: 15px 0px 0px 15px; margin-bottom: 15px; margin-top: 15px; }

/* display of thumbnails inside gallery */
#c-photo-list .c-photo { width: 214px; height: 214px; }

/* padding to manually center thumbnails in content region */
#c-photo-list { margin-left: 50px; }

/* background color for individual thumbnails in a gallery */
#c-photo-list .c-odd{ background-color: transparent; margin-right: 10px; margin-bottom: 10px; }

/* background color for individual thumbnails in a gallery */
#c-photo-list .c-even{ background-color: transparent; margin-bottom: 10px; }

/* background color for individual large detail images */
#c-photo-container { background-color: transparent; padding: 10px 10px 10px 10px; }

/* background color for individual large detail images */
#c-photo-container .c-even { text-align: center; }

/* buttons for large image viewer - back to gallery */
.c-page-up { margin-right: 10px; }

/* buttons for large image viewer - next */
.c-page-next { border: solid #656767 1px; padding: 5px 5px 5px 5px; background-color: #ffffff; margin-right: 96px; text-align: center; }
.c-page-next:hover {
        background-color: #f5f5f5;}

/* buttons for large image viewer - previous */
.c-page-previous { border: solid #656767 1px; padding: 5px 5px 5px 5px; margin-right: 8px; background-color: #ffffff; text-align: center; }
.c-page-previous:hover {
        background-color: #f5f5f5;}

/* background color for individual large detail images */
#c-photo-container .c-text { margin-left: 10px; margin-right: 10px; }

/* Photo Gallery Styles End */

/* align photos with text on our story and wedding party */
#c-party-container .c-photo { float: left; padding: 10px 10px 0 0; }
#c-story-container .c-photo { float: right; padding: 10px 0 0 10px; }

/*=================================================================*/
/* Music & Blog Styles Start */
#c-music-playlist .c-odd, #c-music-playlist .c-even { border-bottom: 1px dotted #333333; }
#c-music-suggestions .c-odd, #c-music-suggestions .c-even { border-bottom: 1px dotted #333333; }
.c-blog-container .c-odd, .c-blog-container .c-even { border-bottom: 1px dotted #333333; }
.c-blog-container .c-comments { color: #333333; }
.c-byline { color: #333333;}

/* Music Player Pop-up Heading */
.c-player-container h4 { color: #ffffff; }

/* Headings */
h3 { font-family:  Palatino, arial, sans-serif; font-size: 22px; color: #ae5278; text-align: left; /*margin-top : 1.5%;*/ margin-bottom: 2.0%; text-decoration: none; font-weight: lighter; }

h4 { font-family:  Palatino, arial, sans-serif; font-size: 19px; color: #656767; text-align: left; margin-top: 1.5%; margin-bottom: 1.5%; line-height: 21px; text-decoration: none; font-weight: lighter; }

h5 { font-family:  Palatino, arial, sans-serif; font-size: 15px; color: #ae5278; text-align: left; margin-top: 1.5%; margin-bottom: 1.5%; line-height: 21px; text-decoration: none; }

/*===================================================================*/
/* Set styles for form elements and buttons */
 
.c-form .c-input-text { font-size: 13px; color: #ae5278; }

 
.c-buttons input,.hotels .search-widget button {
        border: 1px solid #656767;
        background-color: #ae5278;
        color: #ffffff;
        font-family:  Palatino, arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        padding: 6px;
}


.c-buttons input:hover,.hotels .search-widget button:hover{
        background-color: #656767;
}


.c-buttons input:active {
        background-color: #656767;
}
/*===================================================================*/
/* Set footer image */
#t-footer { padding-top: 95px; padding-bottom: 65px; padding-left: 0px; background: url('baxter-footer.png') no-repeat left top; text-align: center; color: #ae5278; line-height: 14px; font-size: 16px; }

#t-footer a { color: #ae5278; font-size: 11px; }

#t-footer a:visited { color: #ae5278; font-size: 11px; }

#t-footer a:hover { color: #ae5278; font-size: 11px; }


/* Reponsive Design Baby */
    @media screen and (max-width: 750px) {
 
       body{ background:none; background-color: #6f6f6f; }
       #t-links {float:none; margin-left:20px; margin-bottom:25px;width:300px;}
       #t-links a {font-size:30px;}
       #t-header-image {width:750px;}
       #t-container {width:750px;}
       #headerImage {width:650px;}
       .c-info {padding-left:10px;font-size:25px;line-height:30px;}
        .c-date {
            font-size: 25px;
            line-height: 30px;
        }
       .c-text {padding:10px;font-size:25px;line-height:30px;}
       #gift {font-size:25px;}
       #t-footer {font-size:20px;line-height:25px;}
       #gift { overflow-y:scroll; overflow-x:hidden; }
}
    
